@* @model IEnumerable<Car> *@
@model IEnumerable<CarsMongoDbDemo.Models.Car>

<h3 class="text-info fst-italic">Cars List</h3>
<br/>

<form asp-action="Index" method="get">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.VehicleBrand)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Price)
            </td>
        </tr>
        </thead>
        <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => car.VehicleBrand)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => car.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => car.Price)
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>