@model IEnumerable<CarsMongoDbDemo.ViewModels.Car.GetCarViewModel>

<div>
    <h3 class="text-info fst-italic">Cars List</h3>
    <span class="text-light fs-5">Cars Quantity: @Model.Count()</span>
</div>

<br/>

<form asp-action="Index" method="get">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Id)
            </td>
            <td>
                <a class="text-white" asp-action="Index" asp-route-sortOrder="@ViewBag.BrandSortParam">Vehicle Brand</a>
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Price)
            </td>
            <td class="text-center">
                Options
            </td>
        </tr>
        </thead>
        <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.VehicleBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Name)
                </td>
                <td>
                    @($"{car.Price:c}") @* Equivalent to @String.Format("{0:c}", car.Price) *@
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-info border-1 m-1" asp-action="Details" asp-route-id="@car.Id">Details</a>
                    <a class="btn btn-sm btn-danger border-1 m-1" asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                    <a class="btn btn-sm btn-warning border-1" asp-action="Edit" asp-route-id="@car.Id">&nbsp;Edit&nbsp;</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>